name: CI test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
       
      - name: Set up Docker 
        run: docker --version

      - name: Build Docker image
        run: docker build -t ci-cd-test .

      - name: Verify Docker image was created  
        run: docker images | grep ci-cd-test
